<div class="main-cntr">

    <div>
        <h4 style="padding: 13px;padding-left: 2px;"> Change Password </h4>
    </div>


    <mat-card style="margin: 10px;">
        <mat-card-content style="height: 275px;">
            <form [formGroup]="ChangePassword">

                <mat-form-field class="w-100">
                    <input matInput required placeholder="Old Password" type="password"
                        formControlName="CurrentPassword">
                        <mat-error *ngIf="ChangePassword.controls['CurrentPassword'].hasError('required')">
                            This is required
                            <strong>Field</strong>
                        </mat-error>
                </mat-form-field>


                <mat-form-field class="w-100">
                    <input matInput required placeholder="New Password" type="password" formControlName="NewPassword">
                    <mat-error *ngIf="ChangePassword.controls['NewPassword'].hasError('required')">
                        This is required
                        <strong>Field</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <input matInput required placeholder="Confirm Password" type="password"
                        formControlName="ConfirmPassword">
                        <mat-error *ngIf="ChangePassword.controls['ConfirmPassword'].hasError('required')">
                            This is required
                            <strong>Field</strong>
                        </mat-error>
                </mat-form-field>



                <div class="float-right">
                    <button mat-raised-button color="warn" style="margin-right: 10px;" (click)="Addnew()" >Clear</button>
                    <button mat-raised-button color="primary" (click)="Submit()" > Submit </button>
                </div>



            </form>
        </mat-card-content>



    </mat-card>






</div>