th {
    font-family : sans-serif;
    /* font-size: 14px; */
    font-weight : bold;
}

a {
    font-weight: 500;
}

.table-parent {
    background   : white;
    height       : 470px;
    border       : 0.5px solid #edebed;
    padding-right: 0px;
    padding-left : 0px;
}
.c-badge{
    position: relative;
      top: -10px;
      left: 10px;
      z-index: 10;
      
  }