.input-div {
  position: relative;
  overflow: hidden;
}
.input-file {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.mm-input {
  border-radius: 50px;
  padding-left: 20px;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
  /* background: #f2f2f2; */
  color: #fff;
  margin: 0px;
  padding: 20px;
}
.s-input {
  width: 32%;
  float: left;
  margin-right: 10px;
}
#colors_box .color-row {
  margin: 10px 0px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.1);
}

#sizes_box .row {
  padding-left: 50px;
}
#sizes_box .row .left {
  width: 90%;
  float: left;
}
#sizes_box .row .right {
  width: 5%;
  float: left;
}
.btn-cont {
  padding-left: 50px;
}
body.modal-open .background-container {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.modal-dialog {
  overflow-y: initial !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-bootstrap-table > table,
td,
th {
  border: 0px solid #ddd !important;
  /* text-align: center !important */
}

.react-bootstrap-table > thead,
tr {
  border: 1px solid #ddd !important;
  text-align: center !important;
}

.custom_badge {
  width: 200px;
}
.individual_item {
  color: black;
  text-decoration: none;
}

.individual_item:hover {
  color: black;
  text-decoration: underline;
}
._radio {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14;
}
/* .form-group{
margin-bottom: 0 !important; 
} */

.fa-check {
  color: green;
  font-size: 20px;
}
.ft-alert-triangle {
  color: yellow;
  font-size: 20px;
}
.fa-close {
  color: red;
  font-size: 20px;
}

/*  */

/* .tags-input {
  display: inline-flex;
  margin: 0 auto;
  padding: 5px;
  width: 600px;
  font-size: 14px;
  border: #cecece solid 1px;
  border-radius: 3px;
}
.tag {
  margin-right: 5px;
} */

/* .taginsideinput {
  width: 100%;
  border: none;
  outline: none;
} */

/* .tag {
  display: inline-flex;
  padding: 2px 5px;
  background-color: #cecece;
  border-radius: 3px;
} */

/* .button.delete {
  display: inline-block;
  margin-left: 5px;
  padding: 0;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  outline: none;
  user-select: none;
} */
/* .delete:after {
  content: "X";
  width: 15px;
  height: 15px;
  color: "red";
  line-height: 15px;
  text-align: center;
} */

.product_tag {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.product_tag {
  display: inline-flex;
  padding: 2px 5px;
  background-color: #cecece;
  border-radius: 3px;
}

.product_tag:after {
  content: "X";
  width: 15px;
  height: 15px;
  color: red;
  line-height: 15px;
  text-align: center;
}

.product_tag:hover {
  cursor: pointer;
  background-color: "red";
}
.badge-category{
border-radius: 3px; padding:5px; font-size:medium;cursor:pointer; box-shadow: 0px; border:black
}