.pending {
  background: #ffdc1f;
  border-radius: 0 !important;
}
.btn-custom {
  width: -webkit-fill-available;
  font-size: 1rem !important;
}
.justify {
  justify-content: space-evenly;
}
.shadow-status {
  box-shadow: 0px 0px 10px 2px #6161614a;
  text-transform: capitalize !important;
}
.shadow-status-1 {
  box-shadow: 0px 0px 3px 1px #6161614a;
  text-transform: capitalize !important;
  line-height: normal;
}
.lost {
  background: #163a5f;
  border-radius: 0 !important;

  color: "#fff";
}
.active {
  background: #8c52ff;
  border-radius: 0 !important;

  color: "#fff";
}
.ready {
  background: #45eba5;
  color: "#fff";
}
.past {
  background: #ff66c4;
  border-radius: 0 !important;

  color: "#fff";
}
.alteration {
  background: #ff914d;
  border-radius: 0 !important;

  color: "#fff";
}
.overdue {
  background: #ff914d;
  border-radius: 0 !important;

  color: "#fff";
}

.Completed {
  background: #ff66c4;
  border-radius: 0 !important;

  color: "#fff";
}
.cancelled {
  background: #ff914d;
  border-radius: 0 !important;

  color: "#fff";
}
.font-weight-600 {
  /* font-weight: 600; */
}
.font-weight-400 {
  font-weight: 400;
  font-size: large !important;
}
.bg-no {
  background: #f5f7fa;
}
.pl-2px {
  padding-left: 2px;
}
