
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">BookStore</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("About Us", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li>
                    @Html.ActionLink("Log Out", "Index", "Login")
                </li>
            </ul>
        </div>
    </div>
</nav>
<h2>Payment Methods</h2>

<div>

    <a href="http://localhost:1867/Allbook/Search?minPrice=0&maxPrice=20" class="btn btn-primary btn-sm">Back</a>
</div>

