beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
dlib==19.21.1
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imutils==0.5.4
infi.systray==0.1.12
Js2Py==0.70
mathparse==0.1.2
more-itertools==8.6.0
nltk==3.5
numpy==1.19.2
opencv-python==4.5.1.48
packaging==20.8
Pillow==8.1.0
Pint==0.16.1
pipwin==0.5.1
PyAudio==0.2.11
PyAutoGUI==0.9.52
pyjokes==0.6.0
pyjsparser==2.7.1
pyparsing==2.4.7
PyPDF2==1.26.0
pypiwin32==223
PyPrind==2.11.2
pySmartDL==1.3.4
pyttsx3==2.71
pytz==2020.5
pywin32==300
PyYAML==3.13
regex==2020.11.13
requests==2.25.1
rfc3986==1.4.0
selenium==3.141.0
six==1.15.0
sniffio==1.2.0
soupsieve==2.2
SpeechRecognition==3.8.1
SQLAlchemy==1.3.23
tzlocal==2.1
urllib3==1.26.2
wikipedia==1.4.0
wolframalpha==4.1.1
xmltodict==0.12.0
