<div class="main-cntr">


  <div>
    <h4 style="padding: 13px;padding-left: 2px;"> {{'State'}} </h4>
  </div>

  <mat-card>
    <mat-card-content style="height: 170px;">
      <form [formGroup]="State">

        <mat-form-field class="col-md-4">
          <input required matInput placeholder="State" formControlName="stateName" type="text">
          <mat-error *ngIf="State.controls['stateName'].hasError('required')">
            This is required
            <strong>Field</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <textarea matInput placeholder="Description" formControlName="description" type="text"></textarea>
        </mat-form-field>


        <div class="float-right" style="margin-top: 10px;">

          <button style="margin-right: 5px;width:100px" mat-raised-button color="primary" (click)="Addnew()">
            <mat-icon>note_add</mat-icon> New
          </button>
          <button style="margin-right: 5px;width:100px" mat-raised-button color="primary" (click)="SubmitState()">
            <mat-icon>save</mat-icon> <span *ngIf="State.get('id').value"> Update</span> <span
              *ngIf="!State.get('id').value">
              Save</span>
          </button>
          <button style="width:100px;" mat-raised-button type="button" aria-label="Close" color="warn"
            (click)="DeleteStateData()">
            <mat-icon>cancel</mat-icon> Delete
          </button>

        </div>
        <!-- <input type="file" #file (change)="FileEvent($event)"> -->
      </form>
    </mat-card-content>
  </mat-card>

  <div class="col-md-12" style="margin-top: 10px;">
    <dx-data-grid id="gridContainer" [dataSource]="StateData" [remoteOperations]="false" [allowColumnReordering]="true"
      [rowAlternationEnabled]="true" [showBorders]="true" [focusedRowEnabled]="true" keyExpr="id"
      (onRowClick)="SelectedRow($event.data)" style="height: 400px;width: 100%;">



      <dxo-sorting mode="multiple"></dxo-sorting>

      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>



      <dxi-column caption="State" dataField="stateName" [width]="300"></dxi-column>
      <dxi-column caption="Description" dataField="description" [width]="300"></dxi-column>

    </dx-data-grid>
  </div>
</div>