@model FYP.Models.DB.Booking_Statuss

<h4>Update Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <label asp-for="booking_id" class="control-label">Booking ID: @ViewBag.id</label>
                <input value="@ViewBag.id" name="booking_id" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <select name="status" required>
                    <option value="">--Select Status--</option>
                    @foreach(var item in ViewBag.status_combo)
                    {
                        <option value="@item.id">@item.status</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
