
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-plus-circle bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Questionnaires History</h5>
                    <span>You can all Questionnaires details from here!</span>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="card">
    <div class="card-header">
       <form>
           
       </form>
        <div class="container mb-3 mt-3">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Questionnaire Id</th>
                        <th>Questionnaire Description</th>
                        <th>Questionnaire Status</th>                        
                        <th>Created On</th>
                        <th>Expiry Date</th>
                        <th>Max Response</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
       getData();
    })
    var id = @OSMS.Models.GenricClass.UserId;
    function getData() {
        $.ajax({
            url: '@Url.Action("QuestionnaireHistory", "Questionnaire")',
            type: 'Post',
            data: {UserId: id},
            success: function (response) {
                console.log(response.data);
                $(".table").dataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    data: response.data,
                    aLengthMenu: [[5, 10, 15, 20], [5, 10, 15, 20]],
                    columns: [
                        { 'data': "QuestionnaireId" },
                        { 'data': "QuestionnaireDesc" },
                        { 'data': "QuestionnaireStatus" },
                        {
                            'data': "CreatedOn",
                            'render': function (CreatedOn) {
                                return dtConvFromJSONDateonly(CreatedOn);
                            }
                        },
                        {
                            'data': "Expiry",
                            'render': function (Expiry) {
                                return dtConvFromJSONDateonly(Expiry);
                            }
                        },
                        { 'data': "MaxResponse" }
                    ]
                })
            }
        });
    }
</script>
